/*
 * Copyright (c) 2024 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <behaviors/rgbled_widget.dtsi>

&soft_off { hold-time-ms = <1000>; };
&sl { release-after-ms = <350>; };
&sk { release-after-ms = <350>; quick-release; };
&caps_word { continue-list = <UNDER MINUS BSPC DEL>; };

/ {
    combos {
        compatible = "zmk,combos";
        timeout-ms = <50>;

        lbspc {
            key-positions = <11 20>;
            bindings = <&kp BSPC>;
        };

        lent {
            key-positions = <10 19>;
            bindings = <&kp ENTER>;
        };

        lgui {
            key-positions = <9 18>;
            bindings = <&kp LGUI>;
        };

        lalt {
            key-positions = <0 9>;
            bindings = <&sk LALT>;
        };

        lsft {
            key-positions = <1 10>;
            bindings = <&sk LSHFT>;
        };

        lctl {
            key-positions = <2 11>;
            bindings = <&sk LCTRL>;
        };

        rctl {
            key-positions = <5 14>;
            bindings = <&sk RCTRL>;
        };

        rsft {
            key-positions = <6 15>;
            bindings = <&sk RSHFT>;
        };

        ralt {
            key-positions = <7 16>;
            bindings = <&sk RALT>;
        };

        rgui {
            key-positions = <16 23>;
            bindings = <&kp RGUI>;
        };

        rent {
            key-positions = <15 22>;
            bindings = <&kp ENTER>;
        };

        rbspc {
            key-positions = <14 21>;
            bindings = <&kp BSPC>;
        };

        capsword {
            key-positions = <10 11 14 15>;
            bindings = <&caps_word>;
        };

        boot {
            key-positions = <0 2 5 7>;
            bindings = <&bootloader>;
        };

        soft_off {
            key-positions = <18 20 21 23>;
            bindings = <&soft_off>;
        };

        alt_num {
            key-positions = <24 25>;
            bindings = <&sl 1 &sl 2>;
            slow-release;
        };
    };

    macros {
        macro_qu: qu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Q &kp U>;
        };

        macro_able: able {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp B &kp L &kp E>;
        };

        macro_ion: ion {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp O &kp N>;
        };

        macro_ing: ing {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N &kp G>;
        };

        macro_you: you {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp O &kp U>;
        };

        macro_ying: ying {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp I &kp N &kp G>;
        };

        macro_would: would {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp O &kp U &kp L &kp D>;
        };

        macro_the: _the {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp T &kp H &kp E>;
        };

        macro_for: _for {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp F &kp O &kp R>;
        };
    };

    behaviors {
        ad_lmagic: adaptive_magic_left {
            compatible = "zmk,behavior-antecedent-morph";
            #binding-cells = <0>;
            defaults = <&key_repeat>;
            antecedents = <A C K E D U Y I N SPACE>;
            bindings = <&macro_able>, <&kp K>, <&kp N>, <&kp Y>, <&kp M>, <&kp Y>, <&macro_ying>, <&macro_ion>, <&kp F>, <&macro_for>;
        };

        ad_rmagic: adaptive_magic_right {
            compatible = "zmk,behavior-antecedent-morph";
            #binding-cells = <0>;
            defaults = <&key_repeat>;
            antecedents = <DOT I Y R W SPACE>;
            bindings = <&kp SLASH>, <&macro_ing>, <&macro_you>, <&kp L>, <&macro_would>, <&macro_the>;
        };

        bmt: better_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            quick-tap-ms = <150>;
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <14 15 16 17>;
            display-name = "Better Mod-Tap";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        alpha1 {
            bindings = <
                    &kp P           &kp L           &kp M           &none   &none           &kp F           &kp O           &kp U
        &kp S       &kp C           &kp R           &kp T           &none   &none           &kp N           &kp A           &kp I           &kp E
                    &kp G           &ad_lmagic      &kp D                                   &kp H           &ad_rmagic      &kp Y
                                                            &sl 3                   &lt 1 SPACE
            >;
        };

        nav {
            bindings = <
                    &kp SPACE       &kp TAB         &kp T           &none   &none           &kp F           &kp A           &kp ENTER
        &kp LGUI    &kp LALT        &kp LSHIFT      &kp LCTRL       &none   &none           &bmt RCTRL LEFT &bmt RSHFT UP  &bmt RALT DOWN   &bmt RGUI RIGHT
                    &kp Q           &kp ESC         &kp COLON                               &kp B           &kp W           &kp E
                                                            &sl 2                   &trans
            >;
        };

        alt_num {
            bindings = <
                    &trans          &trans          &kp PSCRN       &none   &none           &kp N3          &kp N5          &kp N7
        &trans      &trans          &trans          &trans          &none   &none           &kp N0          &kp N1          &kp N2          &kp N9
                    &kp C_PP        &kp C_VOL_DN    &kp C_VOL_UP                            &kp N4          &kp N6          &kp N8
                                                            &trans                  &trans
            >;
        };

        alpha2 {
            bindings = <
                    &kp J           &kp X           &kp Z           &none   &none           &kp BSPC        &kp SQT         &kp ENTER
        &sl 9       &sl 8           &sl 7           &kp W           &none   &none           &kp B           &sl 4           &sl 5           &sl 6
                    &macro_qu       &kp ESC         &kp V                                   &kp K           &kp COMMA       &kp DOT
                                                            &sl 3                   &trans
            >;
        };

        sym_brc {
            bindings = <
                    &kp LBRC        &kp RBRC        &kp DQT         &none   &none           &none           &none           &none
        &kp QMARK   &kp LPAR        &kp RPAR        &kp SEMI        &none   &none           &none           &trans          &none           &none
                    &kp LBKT        &kp RBKT        &kp COLON                               &none           &none           &none
                                                            &trans                  &trans
            >;
        };

        sym_ops {
            bindings = <
                    &kp SLASH       &kp ASTRK       &kp AMPS        &none   &none           &none           &none           &none
        &kp EXCL    &kp MINUS       &kp PLUS        &kp EQUAL       &none   &none           &none           &none           &trans          &none
                    &kp LT          &kp GT          &kp PIPE                                &none           &none           &none
                                                            &trans                  &trans
            >;
        };

        sym_ext {
            bindings = <
                    &kp Q           &kp GRAVE       &kp DQT         &none   &none           &bt BT_DISC 0   &bt BT_DISC 1   &bt BT_DISC 2
        &kp DLLR    &kp BSLH        &kp AT          &kp UNDER       &none   &none           &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &trans
                    &kp PRCNT       &kp CARET       &kp HASH                                &bt BT_CLR      &ind_bat        &ind_con
                                                            &trans                  &trans
            >;
        };

        num {
            bindings = <
                    &none           &none           &none           &none   &none           &kp N3          &kp N5          &kp N7
        &kp DOT     &kp MINUS       &trans          &kp PLUS        &none   &none           &kp N0          &kp N1          &kp N2          &kp N9
                    &kp SLASH       &none           &kp ASTRK                               &kp N4          &kp N6          &kp N8
                                                            &trans                  &trans
            >;
        };

        fun {
            bindings = <
                    &none           &none           &none           &none   &none           &kp F7          &kp F8          &kp F9
        &none       &trans          &kp F11         &kp F12         &none   &none           &kp F4          &kp F5          &kp F6          &kp F10
                    &none           &none           &none                                   &kp F1          &kp F2          &kp F3
                                                            &trans                  &trans
            >;
        };

        ext {
            bindings = <
                    &none           &kp DEL         &kp ESC         &none   &none           &none           &none           &none
        &trans      &kp LC(C)       &kp LC(V)       &kp TAB         &none   &none           &none           &none           &none           &none
                    &kp LC(A)       &kp LC(Z)       &kp LC(Y)                               &none           &none           &none
                                                            &trans                  &trans
            >;
        };
    };
};
